*{
    box-sizing: border-box;
}

nav{
    display: flex;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 1em;
    font-size: 14px;
}
nav a{
    text-decoration: none;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}