*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* navigation bar at the top */

nav{
    display: flex;
    margin: 15px 20px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 1em;
    font-size: 14px;
}
nav a{
    text-decoration: none;
    color: #000;
    opacity: .75;
    font-size: 13px;
}
.grid_button{
    height: 30px;
    width: 30px;
}
.sign_in{
    border-radius: 2px;
    background: #4387fd;
    border-color: #4683ea;
    font-size: 13px;
    width: 68px;
    height: 30px;
    color: #fff;
    font-weight: bold;
}
.alignleft{
    float: left;
}
.alignright{
    float: right;
}

/* center of the page with logo and search box */

.center_content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    min-width: 100vw;
    flex-direction: column;
}
.google_logo{
    display: flex;
}
.search{
    background: #f2f2f2;
    font-size: 13px;
    padding: 10px 15px;
    color: #5f6368;
    border-style: none;
    border-radius: 5px;
}
.lucky{
    background: #f2f2f2;
    font-size: 13px;
    padding: 10px 15px;
    color: #5f6368;
    border-style: none;
    border-radius: 5px;
}

/* navigation bar at the bottom of the page */

footer{
    display: block;
    height: 50px;
    width: 100%;
    background: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
}
.bottom_left{
    float: left;
    margin: 5px;
}
.bottom_right{
    float: right;
    margin: 5px;
}